* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
line-height: 1.6;
}
.header {
    background-color: #c76a00;
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.head2 {
    font-size: 24px;
    font-weight: bold;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #b25f00;
    border-radius: 5px;
    text-align: center;
}
.nav a:hover {
    background-color: #d18f01;
}
.about {
    display: flex;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 60px 20px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
h3 {
    font-size: 24px;
}
.footer {
    background-color: #c76a00;
    color: white;
    text-align: center;
    padding: 20px;
}
@media (min-width: 768px) {
.header {
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.nav {
flex-direction: row;
gap: 15px;
}
.nav a {
background-color: transparent;
}
.about {
flex-direction: row;
}
.card {
grid-template-columns: repeat(2, 1fr);
}
}
/* Desktop (992px и больше) */
@media (min-width: 992px) {
.about h1 {
font-size: 48px;
}
.card {
grid-template-columns: repeat(3, 1fr);
}
}
/* Large Desktop (1200px и больше) */
@media (min-width: 1200px) {
.header,
.footer {
padding-left: calc((100% - 1200px) / 2);
padding-right: calc((100% - 1200px) / 2);
}
}